<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pessoas</title>
</head>
<body>
    <h1>Cadastro de Pessoas</h1>
    <form method="POST">
        <label for="id">ID:</label>
        <input type="text" name="id" id="id" required><br>
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" required><br>
        <button type="submit">Cadastra</button>
    </form>

    <h2>Pessoas</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Token MD5</th>
        </tr>
        {% for pessoa in pessoas %}
        <tr>
            <td>{{ pessoa.id }}</td>
            <td>{{ pessoa.nome_pessoa }}</td>
            <td>{{ pessoa.token }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
